<div class="panel panel-default">
	<div class="panel-heading">
		<input type="text" placeholder="Field Group Title" />

		<div class="pull-right">
			<button type="button" class="btn btn-sm btn-danger" {{action 'removeGroup' group}}>Remove Question Group</button>
		</div>
	</div>

	<div class="panel-body">
		{{forms/edit-question}}

		<button type="button" class="btn btn-sm btn-success" {{action 'addField' model}}>
			Add Question
		</button>
	</div>
</div>