<div class="form-group">
	{{input class="form-control" placeholder="Question" value=question.label}}
</div>

<div class="form-group">
	{{input class="form-control" placeholder="Value Placeholder" value=question.placeholder}}
</div>