<div class="question-group">
	<div class="pull-right">
		<button type="button" class="btn btn-sm btn-danger">Remove Question</button>
	</div>

	<div class="form-group">
		<label>Type</label>
		<select>
			<option>Checkbox</option>
		</select>
	</div>

	{{component questionComponent}}
</div>